<!DOCTYPE html>
<meta charset="utf-8">
<style>

    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .dot {
        stroke: #000;
    }
    body,html{
        margin:0;
        padding:0;
    }

    #svg{
        width:200px;
        height:200px;
        margin:30px 0 0 30px;
    }

    rect{
        fill:none;
        stroke:#000;
    }

    path{
        fill:none;
        stroke:#000;
        stroke-width:0.3;
        stroke-linecap:round;
        stroke-linejoin:round;
    }

    path.red{
        stroke:red;
        stroke-width:1;
    }

    path.blue{
        stroke:blue;
        stroke-width:1;
    }

    path.black{
        stroke:black;
        stroke-width:1;
    }

</style>
<body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<p>Price of Whiskey by different Age group</p>
<script src="./d3.sketchy.js"></script>
<svg height="5" width="5" xmlns="http://www.w3.org/2000/svg" version="1.1"> <defs> <pattern id="lightstripe" patternUnits="userSpaceOnUse" width="5" height="5"> <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="5" height="5"> </image> </pattern> </defs> </svg><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class='radio'>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="color" id="color"> color
        <!--<input type="radio" name="color" value="color" onclick='change(this.value)'> color-->
    </label>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="gradient" > gradient
        <!--<input type="radio" name="gradient" value="gradient" onclick='change(this.value)'> gradient-->
    </label>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="sketch" checked> sketch
    </label>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="local"> local
    </label>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="global"> global
    </label>
    <label class='radio-inline'>
        <input type="radio" name="vis" value="default"  > default
        <!--<input type="radio" name="default" value="default" onclick='change(this.value)' checked > default-->
    </label>
</div>
<script>
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);

        var removed_idx = [];
        var remove_num = parseInt(max * 0.2);
        console.log('how many',remove_num);

        for(var i = 0; i < remove_num; i++){
            var idx = Math.floor(Math.random() * (max - min + 1)) + min;
            removed_idx.push(idx);
            //in order to removed repeated index


        }
        console.log('removed_idx',removed_idx);
        return removed_idx;
        // return Math.floor(Math.random() * (max - min + 1)) + min;
    }


    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 600 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;

    var x = d3.scaleLinear()
        .range([0, width]);

    var y = d3.scaleLinear()
        .range([height, 0]);

    var xAxis = d3.axisBottom(x);

    var yAxis = d3.axisLeft(y);

    var svg = d3.select("body").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



    var sketchy = d3sketchy();

    d3.csv("./whiskey.csv", function(error, data) {
        if (error) throw error;

        // randomly remove
        removed_idx = getRandomInt(0,data.length-1);


        data.forEach(function(d) {
            d.Age = +d.Age;
            d.Price = +d.Price;
        });

        var radialGradient = svg.append("defs")
            .append("radialGradient")
            .attr("id", "radial-gradient");

        radialGradient.append("stop")
            .attr("offset", "0%")
            .attr("stop-color", "#fff");

        radialGradient.append("stop")
            .attr("offset", "100%")
            .attr("stop-color", "steelblue");

// Fill the circle with the gradient
        x.domain(d3.extent(data, function(d) { return d.Age; })).nice();
        y.domain(d3.extent(data, function(d) { return d.Price; })).nice();

        svg.selectAll(".dot")
            .data(data)
            .enter().append("circle")
            .attr("class", "dot")
            .attr("r", 3.5)
            .attr("cx", function(d) { return x(d.Age); })
            .attr("cy", function(d) { return y(d.Price); })
            // .style("fill", function(d) { return "steelblue"; });
            .style("fill", function(d,i) {
                if(removed_idx.includes(i)){
                    return "url(#lightstripe)";
                }else{
                    return "steelblue";
                }});


        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .append("text")
            .attr("class", "label")
            .attr("x", width)
            .attr("y", -6)
            .style("text-anchor", "end")
            .text("Sepal Width (cm)");

        svg.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("class", "label")
            .attr("transform", "rotate(-90)")
            .attr("y", 6)
            .attr("dy", ".71em")
            .style("text-anchor", "end")
            .text("Sepal Length (cm)");


        // sketchy.circleStroke({svg:svg, x:function(d){return x(d.Age);}, y:function(d){return y(d.Price);}, r:50, density:2, sketch:0.3});








    });

</script>