#chart rect{
  fill: #4aaeea;
}

#chart text{
    fill: black;
    font: 12px sans-serif bold;
    text-anchor: end;
}

.axis text{
    font: 12px sans-serif  bold;
}

.axis path, .axis line{
    stroke :black;
    fill: none;
}

body{
    background: #1a1a1a;
    color : #eaeaea;
    padding : 10px;
}
